@import 'bootstrap/dist/css/bootstrap';

.alert .btn-close {
    float: right;
  }

.search-area{
    padding-top: 30px;
}

.no-right-padding{
    padding-right: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
}

.result-block{
    display: inline-block;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}

.img{
    background-image: asset-url('picture.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px; 
    
}
